.v-table {
	margin: 0 auto;
	clear: both;
	font-size: 12px;

}

.v-table table {
	box-sizing: content-box;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	text-align: left;
}

.v-table tr.even, .v-table tr:nth-child(even) {
	background-color: #fff;
}
.v-table tr.odd,.v-table  tr:nth-child(odd) {
	background-color: #f9f9f9;
}
.v-table tr:hover {
	background-color: #f0f0f0;
}
.v-table th {
	background-color: #eee;
	color: #666;
}
.v-table th,.v-table  td {
	padding: 5px;
	border-bottom: 1px solid #bbb;
}

.v-pager {
	padding-top: 10px;
	float: right;
	clear: both;
}
.v-pager span {
	display: inline-block;
	padding: 5px 8px;
	margin-right: 6px;
	border: 1px solid #ddd;
	cursor: pointer;
}
.v-pager span:hover {
	border-color: #888;
}
.v-pager span.cur {
	border: none;
	cursor: auto;
}